:root {
  --clr-1: #000;
  --clr-2: #fff;
  --w-column: 800px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-1);
  color: var(--clr-2);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: large;
}

section {
  padding: 40px;
  width: 100%;
  max-width: var(--w-column);
  box-sizing: border-box;
}

.sign {
  font-size: 160px;
}